html {
  background-color: black;
  margin: 1em 1em;
}
header {
  margin: .5em auto;
  padding: 1em;
  background-color: #ffebcd;
}
header h1 {
  padding-left: 1em;
  text-decoration: underline;
  font-size: 200%;
  font-family: fantasy;
}
@media only screen and (max-width: 479px) {
  header h1 {
    text-align: center;
    padding: 0;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}
.navbar a {
  text-decoration: none;
}
@media only screen and (max-width: 479px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
}
main {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  margin: .5em auto;
}
main img {
  width: 50%;
  border: 10px solid white;
  box-sizing: border-box;
}
@media only screen and (max-width: 640px) {
  main {
    flex-direction: column;
  }
  main img {
    width: 100%;
  }
}
.maincontent {
  flex: 1 1 auto;
  width: 50%;
  padding: 1em;
  box-sizing: border-box;
}
.maincontent h2 {
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .maincontent {
    width: 100%;
  }
}
.mainParagraph {
  font-family: cursive;
}
div.otherInfo {
  background-color: #ffebcd;
  display: flex;
  margin: .5em auto;
  align-items: flex-end;
  padding: 1em;
  justify-content: space-around;
}
div.otherInfo .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
div.otherInfo .hours {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
div.otherInfo ul li {
  list-style-type: none;
}
@media only screen and (max-width: 640px) {
  div.otherInfo {
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
  }
  div.otherInfo .contact {
    width: 80%;
    font-size: 70%;
  }
  div.otherInfo .hours {
    width: 80%;
    font-size: 70%;
  }
  div.otherInfo .hours ul {
    padding: 0;
  }
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
aside a {
  text-decoration: none;
}
@media only screen and (max-width: 640px) {
  aside {
    display: none;
    font-size: 70%;
  }
}
div.location {
  display: flex;
  width: 50%;
  margin: auto;
}
@media only screen and (max-width: 479px) {
  div.location {
    margin: auto;
    width: 100%;
  }
}
footer {
  background-color: #ffebcd;
  display: flex;
  justify-content: space-between;
  margin-top: .5em;
}
